<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments/header::head"></div>
</head>
<body>
    <div th:replace="fragments/header::header"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center" style="margin-top: 10%;border: 1px solid gray;padding: 10px;">
                <form action="#" th:action="@{/login}" method="post">
                    <div class="form-group">
                        <label for="username" th:text="#{label.username}"></label>
                        <input type="text" class="form-control" name="username" id="username" placeholder="Enter username">
                    </div>
                    <div class="form-group">
                        <label for="password" th:text="#{label.password}"></label>
                        <input type="password" class="form-control" name="password" id="password" placeholder="Password">
                    </div>
                    <div class="form-group form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1" name="remember-me">
                        <label class="form-check-label" for="exampleCheck1" th:text="#{label.remember.me}"></label>
                    </div>
                    <button type="submit" class="btn btn-primary" th:text="#{label.sign_in}"></button>
                </form>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer::footer"></div>
</body>
</html>