<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head>
    <div th:replace="fragments/header::head"></div>
</head>
<body>
<div style="position: absolute;height: 100%;width: 75%;">
    <h3 class="login_text_header">Bakı Müasİr Məktəbİ</h3>
    <span class="login_text_span">"Təhsil millətin gələcəyidir!"</span>
    <img th:src="@{/images/university-background.jpg}" alt="" src="#" style="width: 100%;height: 100%;">
</div>
<div style="width: 20%;float: right;margin-right: 20px;">
    <img style="margin-top: 30%;margin-bottom: 50px;width: 260px;filter: hue-rotate(126deg);" src="#" th:src="@{/images/modern_school_logo.png}" alt="">
    <form th:action="@{/login}"  method="post">
        <div class="form-group">
            <label for="username">Poçt ünvanı və ya istifadəçi adı</label>
            <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
        </div>
        <div class="form-group">
            <label for="password">Şifrə</label>
            <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <!--<div class="form-check">-->
            <!--<input type="checkbox" class="form-check-input" id="exampleCheck1">-->
            <!--<label class="form-check-label" for="exampleCheck1">Xatırla məni</label>-->
        <!--</div>-->
        <button style="margin-top: 10px;" type="submit" class="btn btn-primary">Daxil ol</button>
    </form>
</div>
<div th:replace="fragments/footer::footer"></div>
<script>
    $('.footer').parents('div:eq(0)').css('right', '80px');
</script>
</body>
</html>