<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="footer">
    </div>
    <div class="sidebar-overlay" data-reff=""></div>
    <script type="text/javascript" th:src="@{/admin/js/jquery-3.2.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/bootstrap.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/jquery.slimscroll.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/select2.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/bootstrap-datetimepicker.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/plugins/morris/morris.min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/plugins/raphael/raphael-min.js}"></script>
    <script type="text/javascript" th:src="@{/admin/js/app.js}"></script>
    </body>
</th:block>
</html>