<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<th:block th:fragment="head">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
        <link rel="shortcut icon" type="image/x-icon" th:href="@{/admin/img/favicon.png}">
        <title>ProSchool - School Management System</title>
        <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/font-awesome.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/fullcalendar.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/dataTables.bootstrap.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/select2.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/bootstrap-datetimepicker.min.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/plugins/morris/morris.css}">
        <link rel="stylesheet" type="text/css" th:href="@{/admin/css/style.css}">
        <!--[if lt IE 9]>
        <script th:src="@{/admin/js/html5shiv.min.js}"></script>
        <script th:src="@{/admin/js/respond.min.js}"></script>
        <![endif]-->
    </head>
</th:block>
</html>